
@{
    ViewData["Title"] = "აფხაზეთი";
}

<h1>აფხაზეთი</h1>
Data not available
.ka{
position:absolute;
left:1200px

}
</style>

<div class="ka">
    <img src="https://cdn.discordapp.com/attachments/603893750762045450/762280206706540571/unknown.png" alt="Georgia">
</div>